<div style="width:66%;" class="mx-auto my-4">
    <div class="d-flex justify-content-center mx-4 flex-column">
        <h2 class="text-center">Last Saved Points of Interest</h2>

        <div class="card-deck mt-4 justify-content-center">
            <div style="max-width:376px;" ng-if="lastsavedPoi.length" class="card" ng-repeat="card in lastsavedPoi">
                <img class="card-img-top cardImageCustom" ng-src="img/{{card.ImageFileName}}" alt="Card image cap" ng-click="openPoiDialog(this)">
                <div class="card-body">
                    <a class="card-title poiTitle" href="" ng-click="openPoiDialog(this)">{{card.Title}}</a>
                    <p class="card-text">{{card.Description}}</p>
                </div>
                <div class="card-footer" layout="row" layout-align="space-between center">
                    <small class="text-muted">Category: {{card.Category}}</small>
                    <md-button aria-label="is fav button" ng-click="toggleFav($event, card)" ng-class="{'colorYellow': card.isFavorite, 'md-icon-button': true}">
                        <i class="fa fa-star fa-lg cust"></i>
                    </md-button>
                </div>
            </div>

            <div ng-if="!lastsavedPoi.length" class="">
                <h5 class="text-center" style="font-weight:400;">You haven't saved any Points of Interest yet. If you add a POI to favorites it will show here.</h4>
            </div>

        </div>


    </div>

    <hr></hr>

    <div class="mx-4">
        <h2 class="text-center">Recommended Points of Interest</h2>

        <div class="card-deck mt-4">
            <div class="card" ng-repeat="card in recommendedPoi">
                <img class="card-img-top cardImageCustom" ng-src="img/{{card.ImageFileName}}" alt="Card image cap" ng-click="openPoiDialog(this)">
                <div class="card-body">
                    <a class="card-title poiTitle" href="" ng-click="openPoiDialog(this)">{{card.Title}}</a>
                    <p class="card-text">{{card.Description}}</p>
                </div>
                <div class="card-footer" layout="row" layout-align="space-between center">
                    <small class="text-muted">Category: {{card.Category}}</small>
                    <md-button aria-label="is fav button" ng-click="toggleFav($event, card)" ng-class="{'colorYellow': card.isFavorite, 'md-icon-button': true}">
                        <i class="fa fa-star fa-lg cust"></i>
                    </md-button>
                </div>
            </div>
        </div>

        <div ng-if="!recommendedPoi.length" class="my-3 text-center">Loading...<br><br><i class="fas fa-spinner fa-pulse" style="font-size:50px;"></i></div>

    </div>

</div>