<div>
    <div class=" d-flex flex-column pb-4">
        <div class="jumbotron" style="padding:3.5rem 2rem;">
            <div class="d-flex justify-content-center align-items-center flex-column">
                <h2 class="display-4">You are not registered</h2>
                <div class="lead mt-2 mb-4">Please take your time to register to our website, or login if you already have an account.</div>

                <div class="d-flex flex-row ">
                    <a class="btn btn-default btn-lg btn-primary text-white mx-4" href="/#/register">Register</a>
                    <a class="btn btn-default btn-lg btn-secondary text-white mx-4" href="/#/login">Login</a>
                </div>

            </div>
        </div>

        <div class="mx-4">
            <h2 class="text-center">Explore Popular Points of Interest</h2>

            <div class="card-deck mt-4">
                <div class="card" ng-repeat="card in footerData">
                    <img class="card-img-top cardImageCustom" ng-src="img/{{card.ImageFileName}}" alt="Card image cap" ng-click="openPoiDialog(this)">
                    <div class="card-body">
                        <a class="card-title poiTitle" href="" ng-click="openPoiDialog(this)">{{card.Title}}</a>
                        <p class="card-text">{{card.Description}}</p>
                    </div>
                    <div class="card-footer" layout="row" layout-align="space-between center">
                        <small class="text-muted">Category: {{card.Category}}</small>
                    </div>
                </div>
            </div>

            <div ng-if="!footerData.length" class="my-3 text-center">Loading...<br><br><i class="fas fa-spinner fa-pulse" style="font-size:50px;"></i></div>
        
        </div>
    </div>
</div>